/*
font-family: "Alfa Slab One", cursive;
font-family: "Bebas Neue", cursive;
font-family: "Montserrat", sans-serif;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #3d2514;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #3d2514;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
}
img {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
}

.small-container {
  width: 90%;
  max-width: 104.5rem;
  margin: 0 auto;
}

.primary-heading {
  font-size: 9.8rem;
  letter-spacing: 1.3px;
  text-shadow: 2px 3px 1px #fff;
}

.secondary-heading {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}

.subheading {
  font-family: "Bebas Neue", cursive;
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mb-medium {
  margin-bottom: 3.2rem;
}

.nav-link:focus,
.delivery-text a:focus,
.header-logo:focus,
.mobile-navbar:focus {
  box-shadow: 0 0 0 0.6rem rgba(61, 37, 20, 0.5) !important;
}

.social-link:focus,
.email:focus,
.footer-logo:focus {
  box-shadow: 0 0 0 0.6rem rgba(255, 255, 255, 0.5) !important;
}

.btn:focus {
  box-shadow: 0 0 0 0.6rem rgba(191, 34, 34, 0.5) !important;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(255, 193, 69, 0.5) !important;
}

/*********************/
/* HEADER */
/*********************/

header {
  background-image: url(./images/hero-bg.png);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.logo {
  height: 4.5rem;
}

.delivery {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.2rem;
  margin-bottom: 1.8rem;
}

.delivery img {
  height: 3rem;
  width: 3rem;
}

.delivery span {
  font-size: 1.4rem;
  font-weight: 600;
}

.delivery span a {
  transition: all 0.3s;
}

.delivery span a:hover {
  box-shadow: 0 1px 0 #000;
}

.main-nav-list {
  display: flex;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  /* color: #58361d; */
  box-shadow: 0 2px 0 #3d2514;
}

.mobile-navbar {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.mobile-nav-icon {
  font-size: 3.2rem;
}

.close {
  display: none;
}

/*********************/
/* HERO SECTION */
/*********************/

.hero-section {
  background-image: url(./images/hero-bg.png);
  padding: 4.8rem 0 8rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero-description {
  font-family: "Bebas Neue", cursive;
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 1.2rem 1.6rem;
  border: 2px dashed #000;
  margin-bottom: 2.4rem;
}

.primary-heading span {
  display: block;
  font-size: 4.4rem;
  margin-top: 0.8rem;
}

.hero-img-box {
  position: relative;
}

.price-box {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 12rem;
  height: 12rem;
  color: #fff;
  border-radius: 50%;
  background-color: #bf2222;
}

.price-content {
  position: absolute;
  bottom: 9%;
  left: 9%;
  border: 2px dashed #fff;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 3.6rem;
}

.price span {
  font-size: 1.6rem;
}

.price-box p:last-child {
  font-size: 2rem;
  letter-spacing: 6px;
}

/*********************/
/* FEATURED SECTION */
/*********************/
.featured-section {
  padding: 8rem 0;
}

.featured-product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.featured-img-box {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
}

.featured-img-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    transparent
  );
  width: 100%;
  height: 100%;
}

.featured-img-box:first-child {
  grid-row: 1 / -1;
}

.featured-text {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;

  color: #fff;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  z-index: 1;
}

.featured-text span {
  display: block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

.featured-text p {
  font-size: 3rem;
  line-height: 0.9;
}

/*********************/
/* PRODUCTS SECTION */
/*********************/
.products-section {
  padding: 8rem 0;
}

.product-text-box {
  max-width: 80rem;
  text-align: center;
  margin: 0 auto 6.4rem;
}

.product-subheading {
  background-color: #ffc045;
  padding: 1.2rem 1.6rem;
  margin-bottom: 2.4rem;
}

.product-text {
  font-size: 1.6rem;
  line-height: 1.7;
}

.product-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
}

.product-card {
  padding: 2.4rem;
}

.product-card:nth-child(2) {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
}

.product-img {
  margin-bottom: 2.4rem;
}

.product-content {
  text-align: center;
}

.product-title {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited,
.btn {
  display: inline-block;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #bf2222;
  padding: 1.6rem 2.4rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active,
.btn:hover {
  background-color: #e62222;
  transform: translateY(-3px);
}

/*********************/
/* EVENTS SECTION */
/*********************/
.events-section {
  padding: 8rem 0;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  grid-gap: 3.2rem;
  padding: 4.8rem;
  box-shadow: 0 12px 24px rgb(0 0 0 / 10%);
  position: relative;
}

.event-subheading {
  margin-bottom: 0.8rem;
}

.event-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffc045;
  box-shadow: 0 12px 24px rgb(0 0 0 / 20%);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.event-btn:hover {
  background-color: #3d2514;
  border: none;
}

.event-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #ffc045;
}

.event-btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.event-btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  transform: translate(4.8rem, 0);

  display: flex;
  gap: 1.2rem;
}

.dot-btn {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #3d2514;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.dot-btn:hover {
  transform: scale(1.1);
}

.dot-btn--active {
  background-color: #3d2514;
}

/*********************/
/* RESERVATION SECTION */
/*********************/
.reservation-section {
  padding: 8rem 0 12.8rem;
  position: relative;
  overflow: hidden;
}

.resrvetion-text {
  text-align: center;
  margin-bottom: 4.8rem;
}
.reservation-subheading {
  margin-bottom: 1.2rem;
}

.reservation-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.2rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.reservation-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.reservation-form input {
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: #e9e9e9;
}

input::placeholder {
  color: #aaa;
}

.submit-btn {
  display: block;
  font-size: 1.4rem;
  border: none;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  align-self: end;
}

.reservation-section img {
  position: absolute;
  width: 25%;
  z-index: -1;
}

.burger-img {
  top: 0;
  left: 0;
  transform: translate(-15%, -8%);
  max-width: 36rem;
}

.bottle-img {
  max-width: 18%;
  top: 20rem;
  left: 4.5rem;
}

.plate-img {
  bottom: 0;
  right: 0;
  transform: translate(40%, 20%);
  z-index: 1;
}

/*********************/
/* FOOTER */
/*********************/
footer {
  position: relative;
  padding: 8rem 0 4.8rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 6.4rem;
  color: #fff;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
}

.footer-text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ececec;
}

.footer ul {
  justify-self: center;
}

.contacts {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.contacts:first-child {
  margin-bottom: 0.8rem;
}

.contacts .uil {
  font-size: 3rem;
}

.address,
.email {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #fff;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-self: end;
}

.social-link {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: #e62222;
}

.social-icon {
  font-size: 2.4rem;
  color: #3d2514;
}

.copyright-text {
  font-size: 1.2rem;
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
}

.developed {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.developed span {
  color: #bf2222;
}

/*********************/
/* MEDIA QUERIES */
/*********************/

/*******************************/
/* BELOW 1080px */
/*******************************/

@media (max-width: 67.5em) {
  html {
    font-size: 56.25%;
  }

  .primary-heading {
    font-size: 8.6rem;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .bottle-img {
    left: 0;
  }
}

/*******************************/
/* BELOW 840px */
/*******************************/

@media (max-width: 52.5em) {
  html {
    /* 8px / 16px = 0.5 = 50%*/
    font-size: 50%;
  }

  .hero-container {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    text-align: center;
  }

  .hero-img {
    width: 80%;
  }

  .price-box {
    bottom: 15%;
    left: 15%;
  }

  .featured-product-container {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    max-width: 70rem;
  }

  .product-card-box {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }

  .product-card:last-child {
    grid-column: 1/-1;
    max-width: 46rem;
    margin: 0 auto;
  }

  .carousel {
    grid-template-columns: 1fr;
    gap: 3.2rem;
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
  }

  .dots {
    bottom: 1.8rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .dot-btn {
    width: 12px;
    height: 12px;
  }

  .bottle-img {
    left: -2.5rem;
  }

  .footer {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3.4rem;
    column-gap: 1.6rem;
  }

  .footer div:first-child {
    grid-column: 1 / 4;
  }

  .social {
    grid-area: 1 / 4;
    gap: 1.6rem;
  }

  .copyright-text {
    grid-area: 2 / 1 / span 1 / span 2;
    justify-self: start;
    text-align: left;
  }

  .footer ul {
    grid-column: 3 / -1;
    justify-self: end;
  }
}

/*******************************/
/* BELOW 624px (Phones) */
/*******************************/

@media (max-width: 39em) {
  .primary-heading {
    font-size: 7.4rem;
  }

  .primary-heading span {
    font-size: 3.6rem;
  }

  .secondary-heading {
    font-size: 2.4rem;
  }

  .featured-section,
  .products-section,
  .events-section,
  .reservation-section,
  footer {
    padding: 4.8rem 0;
  }
  .reservation-form {
    grid-template-columns: 1fr;
    margin: 0 4.8rem;
    grid-gap: 2.4rem;
  }

  .product-card-box {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .product-card {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
    text-align: center;
  }

  .product-card:last-child {
    max-width: 100%;
  }
  .product-img {
    width: 80%;
  }

  .bottle-img {
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .footer ul {
    grid-area: 3 / 1 / span 1 / span 4;
  }

  .copyright-text {
    grid-area: 4 / 1 / span 1 / span 4;
  }

  .copyright-text,
  .footer ul {
    justify-self: center;
    text-align: center;
  }

  .social-link {
    width: 3rem;
    height: 3rem;
  }

  .social-icon {
    font-size: 1.8rem;
  }

  .contacts {
    justify-content: center;
  }

  .delivery {
    display: none;
  }

  /* Mobile Navigation */
  .mobile-navbar {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 10rem;
    right: 0;
    width: 30rem;
    background-color: #ffc045fa;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s;
  }

  .main-nav-list {
    flex-direction: column;
    width: inherit;
    gap: 0;
  }

  .main-nav-list li {
    width: inherit;
    text-align: center;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
    width: inherit;
    padding: 2rem 0;
    border-bottom: 1px solid #3d2514;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav-open .open {
    display: none;
  }

  .nav-open .close {
    display: block;
  }
}
